@import "vars.scss";
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea {
    border: 0;
}

img {
    display: block;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none;
}

.title {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 700;
    &_main {
        color: $theme-white;
        font-size: 88px;
    }
    &_xlarge {
        font-size: 67px;
        line-height: 106%;
    }
    &_large {
        color: $theme-white;
        font-size: 57px;
        font-weight: 900;
        line-height: 97.5%;
    }
    &_medium {
        color: #F17228;
        font-size: 43px;
    }
    &_xsmall {
        font-size: 22px;
        color: $theme-gray-800;
    }
    &_black {
        color: #353535;
    }
}

.wrap {
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
    padding: 0 10px;
}

.hero {
    padding: 132px 0 0;
    background: url(../img/bg_header.png);
    background-color: lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    & .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__desc {
        margin-bottom: 132px;
    }
    &__title {
        margin-bottom: 15px;
    }
    &__text {
        color: #504F4F;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 32px;
    }
    &__order {
        padding: 24px;
        background-color: $theme-white;
        max-width: 856px;
        width: 100%;
        border-radius: 16px;
    }
    &__btn-line {
        display: flex;
        gap: 8px;
        margin-bottom: 48px;
    }
    &__form {
        display: flex;
        gap: 16px;
    }
    &__form-input {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 0 8px 16px;
        background-color: $theme-gray-100;
        width: calc(100% - 215px);
        border-radius: 8px;
    }
    &__input {
        background-color: $theme-gray-100;
        outline: none;
        color: $theme-gray-500;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        padding: 14px;
    }
    &__img {
        align-self: flex-end;
        position: relative;
    }
    &__pic-overlay {
        max-width: 498px;
        width: 100%;
        height: 442px;
        background: #C9C9C9;
        position: absolute;
        top: 0;
        left: 0;
        mix-blend-mode: overlay;
    }
}

.logo {
    display: flex;
    gap: 11px;
    align-items: center;
    &__img {
        width: 28px;
        height: 30px;
    }
    &__text {
        font-size: 31px;
        font-weight: 700;
        line-height: 120%;
        color: $theme-warning;
        &_color {
            color: $theme-primary;
        }
    }
    
}

.header {
    & .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        row-gap: 20px;
    }
    padding: 16px 0;
    color: $theme-gray-800;
    &__logo {
        order: 1;
    }
    &__delivery {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        display: flex;
        order: 2;
    }
    &__delivery-text {
        font-family: 'Source Sans 3', sans-serif;
        margin-right: 12px;
    }
    &__delivery-map {
        display: flex;
        align-items: center;
        & .icon {
            margin-right: 9px;
        }
    }
    &__delivery-location {
        font-weight: 400;
        margin-right: 4px;
    }
    &__delivery-place {
        font-weight: 700;
    }
    &__search-login {
        order: 3;
        display: flex;
        gap: 30px;
        align-items: center;
    }
    &__search {
        max-width: 124px;
        width: 100%;
        font-size: 18px;
        display: flex;
        gap: 8px;align-items: center;
    }
    &__input{
        max-width: 98px;
        width: 100%;
        color: $theme-gray-800;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 18px;
        outline: none;
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: #fff;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    font-weight: 700;
    &_login {
        box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 0px 5px 10px 0px rgba(255, 174, 0, 0.26);
    }
    &_order {
        padding: 10px 24px;
        color: $theme-gray-600;
        box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 0px 5px 10px 0px rgba(255, 174, 0, 0.26);
        &:hover {
        background: rgba(241, 114, 40, 0.10);
        color: $theme-warning;
        }
    }
    &_hero-form {
        padding: 21px 48px;
        color: $theme-white;
        background: linear-gradient(96deg, #FF7A7A -39.64%, #F65900 135.31%);
        // width: 199px;
        display: block;
    }
    &_item-popular {
        background-color: $theme-warning;
        padding: 21px auto;
        display: flex;
        justify-content: center;
        color: $theme-white;
        font-size: 18px;
    }
    &_restaurant {
        display: flex;
        width: 178px;
        padding: 21px 48px;
        color: $theme-white;
        font-size: 18px;
        font-weight: 700;
        border-radius: 14px;
        background: linear-gradient(98deg, #FFBA26 -8.95%, #FF9A0E 109.24%);
        box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 0px 5px 10px 0px rgba(255, 174, 0, 0.26);
        & .icon-Icon-9 {
            width: 9px;
        }
    }
    &_search {
        color: $theme-primary;
        font-size: 18px;
        font-weight: 700;
        background: inherit;
        padding: 21px 0;
    }
    &_details {
        justify-content: center;
        color: #FFF;
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
        padding: 21px 48px;
        border-radius: 8px;
        background: $yellow-button;
        box-shadow: 0px 14px 32px 0px rgba(255, 178, 14, 0.29), 0px 5px 8px 0px rgba(222, 151, 0, 0.24);
    }
    &_email-form {
        border-radius: 14px;
        border-radius: 8px;
        background: $yellow-button;
        box-shadow: 0px 14px 32px 0px rgba(255, 178, 14, 0.29), 0px 5px 8px 0px rgba(222, 151, 0, 0.24);
        color: #fff;
        padding: 21px 24px;
        line-height: 100%;
    }
    


    &__text {
            flex-shrink: 0;
        &_login {
            color: $theme-primary;
        }
    }
}

.deals {
    padding: 80px 0;
    // & .wrap {
    //     padding: 80px 0;
    // }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
    }
    
}

.item-deals {
    font-size: 22px;
    &__photo {
        position: relative;
    }
    &__img {
        border-radius: 16px;
        
    }
    &__name {
        color: $theme-gray-800;
        font-size: 22px;
        margin: 31px 0 14px;
    }
    &__date {
        padding: 8px 16px;
        color: $theme-warning;
        border-radius: 8px;
        background: rgba(241, 114, 40, 0.20);
            display: inline;
    }
    
}
.discount {
    padding: 10px 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: $theme-primary;
    display: grid;
    grid-template-areas:
            "a b"
            "c d";
    color: $theme-white;
    font-family: 'Source Sans 3', sans-serif;
    border-radius: 0px 32px 0px 16px;
    &__number {
        grid-row: span 2;
        font-size: 68px;
    }
    &__percent {
        font-size: 35px;
        align-self: end;
    }
    &__off {
        font-size: 22px;
        align-self: start;
    }
}

.work {
    padding: 80px 0;
    background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0.00) 100%);
    &__title {
        text-align: center;
        margin-bottom: 71px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: center;
    }
}

.item-work {
    max-width: 307px;
    width: 100%;
    text-align: center;
    
    &__svg {
        filter: drop-shadow(0px 20px 40px rgba(255, 174, 0, 0.29)) drop-shadow(0px 5px 10px rgba(255, 174, 0, 0.26));
    }
    &__title {
        color: #434343;
        font-family: 'Source Sans 3', sans-serif;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 10px;
    }
    &__desc {
        color: $theme-gray-500;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
    }
}

.popular {
    padding: 80px 0;
    &__title {
        text-align: center;
        color: $theme-gray-900;
        margin-bottom: 88px;
    }
    &__list {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.item-popular {
    max-width: 283px;
    width: 100%;
    &__img {
        border-radius: 16px;
        margin-bottom: 16px;
    }
    &__title {
        margin-bottom: 8px;
    }
    &__icon {
        font-size: 18px;
        // margin-right: 8px;
    }
    &__text {
        color: $theme-primary;
        font-size: 22px;
        font-weight: 400;
    }
    &__place {
        margin-bottom: 8px;
    }
    &__price {
        color: $theme-gray-900;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 16px;
    }
}

.restaurant {
    &__title {
        text-align: center;
        color: $theme-gray-900;
        margin-bottom: 88px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
        margin-bottom: 88px;
    }
    &__btn {
        margin: 0 auto;
 
    }
}

.discount-restaurant {
    padding: 8px 16px;
    color: $theme-white;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    border-radius: 8px;
    background: #F17228;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    & .icon {
        width: 18px;
        height: 22px;
    }
    &_fast {
        background: $theme-primary;
    }
}

.item-restaurant {
    max-width: 357px;
    width: 100%;
    &__img {
        border-radius: 16px;
    }
    &__img-link {
        position: relative;
    }
    &__discount {
        position: absolute;
        top: 24px;
        left: 24px;
        &_fast {
            left: 166px;
        }
    }
    &__desc {
        margin: 24px 0 32px;
    }
    &__btn {
        display: inline-block;
        border-radius: 16px;
        background: rgba(241, 114, 40, 0.20);
        padding: 8px 16px;
        font-size: 22px;
        font-weight: 700;
        line-height: 120%;
        color: $theme-warning;
        &_color-green {
            border-radius: 16px;
            background: rgba(121, 185, 60, 0.20);
            color: var(--theme-success, #79B93C);
        }
    }
}

.restaurant-desc {
    display: flex;
    gap: 24px;
    font-size: 22px;
    font-weight: 700;
    color: $theme-gray-800;
    &__number {
        font-weight: 400;
        color: $theme-primary;
    }
    &__stats {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.search {
    padding: 82px 0 55px;
    background: #FEFAF1;
    &__title-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 88px;
    }
    &__title {
        color: $theme-gray-900;
    }
    &__title-img {
        height: 76px;
    }
    &__title-btns {
        display: flex;
        gap: 26px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 34px;
        justify-content: center;
    }
    &__item {
        max-width: 218px;
        width: 100%;
        text-align: center;
    }
    &__img {
        border-radius: 144px;
        margin-bottom: 26px;
    }
}

.features {
    padding: 130px 0 80px;
    background: #FEEFD0;
    &__list {
        padding: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 55px;
        flex-wrap: wrap;
        border-radius: 46px;
        background: #FFF;
        box-shadow: 0px 27px 82px 0px rgba(255, 174, 0, 0.28), 0px 14px 15px 0px rgba(255, 174, 0, 0.01);
    }
    &__item {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }
    &__item-line {
        width: 2px;
            height: 96px;
            background-color: #CFCFCF;
    }
    &__text {
        max-width: 151px;
        background: linear-gradient(93deg, #FB3C00 -47.72%, #FFB800 136.81%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 35px;
        line-height: 120%;
        font-weight: 700;
    }
}

.app {
    border-radius: 7216px;
    background: #FEEFD0;
    padding: 60px 175px 0 131px;
    & .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        background: $yellow-button;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 16px;
    }
    &__text {
        color: #827E7E;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 40px;
    }
    &__imgs {
        flex: 1 0 50%;
    }
    &__desc {
        max-width: 432px;
        width: 100%;
        flex: 1 0 50%;
    }
    &__link-row {
        display: flex;
        gap: 8px;
    }
}

.app-btn {
    padding: 11px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 5px;
    background: $theme-white;
    box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 0px 5px 10px 0px rgba(255, 174, 0, 0.26);
    &__action {
        text-transform: uppercase;
        color: $theme-gray-600;
        font-size: 11px;
        font-family: 'Source Sans 3', sans-serif;
        font-weight: 700;
    }
    &__name {
        color: $theme-gray-900;
        font-size: 26px;
        font-family: 'Source Sans 3', sans-serif;
        font-weight: 700;
    }
}

.details {
    padding: 55px 0;
    &__box {
        display: flex;
        flex-direction: column;
        gap: 80px;
    }
    &__item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 0px 27px 82px 0px rgba(124, 124, 124, 0.28), 0px 14px 15px 0px rgba(124, 124, 124, 0.06);
        &_reverse {
            flex-direction: row-reverse;
        }
    }
    &__text-block {
        padding: 56px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 519px;
        width: 100%;
    }
    &__text {
        display: flex;
        gap: 19px;
        flex-direction: column;
        justify-content: center;
        height: 292px;
    }
    &__desc {
        color: rgba(97, 97, 97, 0.69);
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        line-height: 140%;
    }
}

.cta {
    background-image: url(../img/cta-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 91px 0 96px;
    &__title {
        max-width: 728px;
        width: 100%;
        margin: 0 auto 62px;
    }
}

.cities {
    background: $theme-gray-900;
    padding: 99px 0;
    &__title {
            color: #FFF;
            margin-bottom: 40px;
        }
    
}

.cities-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__list-link {
        color: $theme-gray-100;
        font-size: 18px;
        font-weight: 400;
    }
}

.footer {
    padding: 0 0 69px;
    background: $theme-gray-900;
    &__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-wrap: wrap; 
        padding: 63px 0;
    }
    &__info-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 607px;
        width: 100%;
    }
    &__column-title {
        color: #FFF;
        margin-bottom: 40px;
    }
    &__column-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__column-link {
        color: $theme-gray-100;
        font-size: 18px;
        font-weight: 400;
    }
    &__info-wrapper {
        max-width: 483px;
        width: 100%;
    }
    &__social {
        margin-bottom: 43px;
    }
    &__social-title {
        margin-bottom: 40px;
        color: #F5F5F5;
        font-size: 18px;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;
        opacity: 0.6;
    }
    &__email-title {
        color: #BBB;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 140%;
        margin-bottom: 40px;
    }
}

.social-row {
    display: flex;
    gap: 16px;
}

.email-form {
    display: flex;
    align-items: center;
    gap: 16px;
    &__row {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 0 8px 16px;
        background-color: #F5F5F5;
        width: calc(100% - 133px);
        border-radius: 8px;
    }
    &__input {
        background-color: #F5F5F5;
        outline: none;
        color: #9E9E9E;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        padding: 10px;
        width: 100%;
    }
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 19px;
    &__item {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    &__text {
        color: $theme-gray-100;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 120%;
    }
    &__text_bold {
        font-weight: 700;
    }
}

@media screen and (max-width: 1200px) {
    .header__delivery-text {
        display: none;
    }
    .logo__text-box {
        display: none;
    }
    .hero .wrap {
        justify-content: center;
    }
    .details {
        &__item {
            flex-wrap: wrap;
        }
    }
    .footer__info {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .app {
        padding: 0; 
        & .wrap {
            flex-direction: column;
            row-gap: 40px;
        }
        
    } 
}

@media screen and (max-width: 900px) {
    
    .header {
        &__delivery {
            font-size: 15px;
        }
        &__delivery-text {
            margin-right: 6px;
        }
        &__search-login {
            gap: 15px;
        }
    }
    .features {
        &__list {
            flex-direction: column;
        }
        &__item-line {
            height: 2px;
            width: 96px;
            background-color: #CFCFCF;
        }
    }
}

@media screen and (max-width: 722px) {
    .header {
        &__delivery {
            order: 3;
        }
        &__search-login {
            order: 2;
            // max-width: calc(100% - 200px);
            // width: 100%;
        }
        // &__search {
        //     max-width: unset;
        // }
        // &__input {
        //     max-width: unset;
        // }
    }
}

@media screen and (max-width: 600px) {
    .title {
        &_main {
            font-size: 70px;
        }
    }
    .hero {
        &__desc {
            text-align: center;
        }
        &__form {
            flex-direction: column;
        }
        &__form-input {
            width: 100%;
        }
    }
    .search__title-btns {
        flex-direction: column;
        gap: 0;
    }
    .cities-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        row-gap: 40px;
    }
    .app {
        &__link-row {
            flex-direction: column;
            row-gap: 20px;
        }
    }
    .logo__text-box {
        display: none;
    }

}

@media screen and (max-width: 450px) {
    .btn_details {
        font-size: 16px;
        padding: 15px;
    }
    .details {
        &__text-block {
            padding: 15px;
        }
    }
    .email-form {
        flex-direction: column;
        &__row {
            width: 100%;
        }
        & .btn {
            width: 100%;
            justify-content: center;
        }
    }
    .footer__info-list {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

}

@media screen and (max-width: 400px) {
    .hero {
        &__btn-line {
            flex-direction: column;
        }
        &__order {
            padding: 0;
        }
    }
    .details {
        &__text {
            gap: 6px;
            height: unset;
        }
        
        &__title {
            font-size: 35px;  
        }
    }
    .item-restaurant__discount {
        left: 5px;
        &_fast {
            left: 150px;
        }
    }
    
}