$theme-primary: #FFB30E;
$theme-gray-900: #212121;
$theme-gray-800: #424242;
$theme-gray-600: #757575;
$theme-gray-500: #9E9E9E;
$theme-gray-100: #F5F5F5;
$theme-white:#FFF;
$theme-warning: #F17228;
$theme-success: #79B93C;
$yellow-button: linear-gradient(93deg, #FFB800 -47.72%, #FF8A00 136.81%);